@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --font-family: "Nunito", sans-serif;
  --c1: #0081a7;
  --c2: #00afb9;
  --c3: #fdfcdc;
  --c4: #fed9b7;
  --c5: #fed9b7;
  --c6: #f07167;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 1.6rem;
  background-color: var(--c3);
}
