.post-form {
  margin: auto;
  border: 0.02rem solid black;
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0.2rem 0.2rem 0.6rem #444;
  margin-top: 4rem;
  width: 100rem;
  height: 63rem;
  display: flex;
  flex-direction: column;
}

.post-form button {
  cursor: pointer;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: 1rem;
  background-color: var(--c1);
  border: 0.1rem solid black;
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem 0.6rem #444;
  color: var(--c3);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  width: 14rem;
  height: 5rem;
  align-self: center;
}

.post-form span {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
}

.post-form span label {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.post-form span input[type="text"] {
  flex-basis: 100%;
  font-size: 1.8rem;
  margin-right: 1rem;
}

.post-form textarea {
  font-size: 1.8rem;
  margin: 1rem;
  width: 97rem;
  height: 28rem;
}
